.visually-hidden {
    position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
}
.advantages-section{
    background-color: var(--colorb);
    padding: 16px 0;
}
.headfooter{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    gap: 40px;
    
}
.headfooter_item{
    font-size: 20px;
    font-weight: 300;
    color: var(--colorch);
}
