.modal-btn-open{
    display: block;
    padding: 16px 32px;
    background-color: var(--colorb);
    color: var(--colorch);
    border:  solid var(--colorb);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
.modal-btn-close{
    position: absolute;
    top: 40px;
    right: 40px;
}
.button:hover{ background-color: transparent;
    color: #819B57;
}

.button:active{ background-color: blue;
    color: var(--colorb);
}