.chefs-title{
    margin-bottom: 80px;
    max-width: 520px;
    position: relative;
}
.chefs-container{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    
}
.chefs-title::before{
    display: block;
    width: 352px;
    height: 2px;
    background-color: #CFCFBC;
    content: '';
    position: absolute;
    left: -360px;
    bottom: 24px;
}

.chefs-title::after{
    display: block;
    width: 352px;
    height: 2px;
    background-color: #CFCFBC;
    content: '';
    position: absolute;
    right: -360px;
    bottom: 24px;
}
.chefs-image{
    list-style: none;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0px 0px var(--colorch), -16px 16px 0px 2px black;
    
}
.chefs-item{
    display: flex;
    gap: 30px;
    list-style: none;
}
.cook{
    margin-bottom: 16px;
    color: var(--color_primarydark);
    font-size: 40px;
    font-weight: 600;
}
.section-titles .chefs{
    color: var(--colorb);
}
.cooks-text{
    max-width: 334px;

}
.cooks-text p{
    margin-bottom: 26px;
}
.cooks-text p:last-child{
    margin-bottom: 0px;
}