
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
  }
/* Global */
:root{
    --color_primary_dark: #000000;
    --color_primary_light: #FFFFFF;
    --color_secondary_light:#2B7FFF;
    --color_secondary_dark:#011C44;
}
ul {
    list-style-type:none;
}
body{
    color: var(--color_primarydark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}
address{
    font-style: normal;
}

/* Logo */
.logo_text{
    color: var(--color_secondary_light);
    font-family: 'Play', sans-serif;
}
/* Hero */
.hero-title{
    color: var(--color_secondary_light);
    font-family: 'Play', sans-serif;
}
/* Buttom */
.button{
    background-color:var(--color_secondary_light) ;
    color: var(--color_primary_light);
    border-radius: 8px;
    border:  solid;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    color: var(--color_secondary_dark);
}
/* Links */
.link{
    color: var(--color_primary_dark);
    text-decoration: none;
}
.link_footer{
    color: var(--color_primary_light);
    text-decoration: none;
}
.link:hover{
    color: var(--color_secondary_light);
    
}
.link_footer:hover{
    color: var(--color_secondary_light);
    text-decoration: none;
}
/* Containers */
.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
.header-container{
    display:flex;
    align-items: center;
    gap: 40px;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}
.header-menu{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 40px;
}
.nav-icons{
    display: flex;
    gap: 40px;
}
/* Sections */

.hero-section{
    padding: 272px 0;
    background-image: url('../html_images/hero-title_image.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.section{
    color: var(--color_secondary_dark);
    font-family: 'Play', sans-serif;
}
.accent{
    color: var(--color_secondary_light);
}

.procedures-photos{
    display: flex;
    gap: 40px;
}
.under_call_button{
    font-weight: 400;
    font-size: 12px;
}
/* Footer */
.footer{
    background-color: var(--color_secondary_dark);
}
.contact_item{
    text-decoration: none;
    color: var(--color_primary_light);
}
.contact_item:hover{
    color: var(--color_secondary_light);
}
.copyright{
    color: #747272;
    font-size: 13px;
    font-weight: 400;
}