
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
  }
/* Global */
:root{
    --color_primary_dark: #000000;
    --color_primary_light: #FFFFFF;
    --color_secondary_light:#2B7FFF;
    --color_secondary_dark:#011C44;
}
ul {
    list-style-type:none;
}
body{
    color: var(--color_primarydark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}
address{
    font-style: normal;
}
.section{
    padding: 48px 0;
}
.section-titles{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    color: var(--color_secondary_dark);
    font-family: 'Play', sans-serif;
}
.section-titles.centered{
    text-align: center;
}

/* Logo */
.logo_text{
    color: var(--color_secondary_light);
    font-family: 'Play', sans-serif;
}
/* Hero */
.hero-title{
    color: var(--color_secondary_light);
    font-family: 'Play', sans-serif;
    font-size: 140px;
}
/* Button */
.button{
    padding: 16px 32px;
    background-color:var(--color_secondary_light) ;
    color: var(--color_primary_light);
    border-radius: 32px;
    border:  solid;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    color: var(--color_secondary_dark);
}
/* Links */
.link{
    color: var(--color_primary_dark);
    text-decoration: none;
}
.link_footer{
    color: var(--color_primary_light);
    text-decoration: none;
}
.link:hover{
    color: var(--color_secondary_light);
    
}
.link_footer:hover{
    color: var(--color_secondary_light);
    text-decoration: none;
}
/* Containers */
.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
.header-container{
    display:flex;
    align-items: center;
    gap: 40px;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}
.header-menu{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 40px;
}
.nav-icons{
    display: flex;
    gap: 40px;
}
/* Sections */

/* Hero section */
.hero-section{
    padding: 272px 0;
    background-image: url('../html_images/hero-title_image.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.accent{
    color: var(--color_secondary_light);
}
.under_call_button{
    font-weight: 400;
    font-size: 12px;
}
/* Intro Section */

.transformation{
    display: flex;
    align-items: top;
}
.transformation-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 709px;
    font-size: 22px;
}
.intro-title{
    max-width: 529px;
}
/* Why section */
.why-title{
    max-width: 450px;
}
.reasons{
    display: flex;
    align-items: center;
    gap: 40px;
}
.reason{
    border: 1px solid lightgray;
    border-radius: 16px;
    height: 181px;
    width: 316px;
    align-items: center;
}
/* Procedures section */
.procedures-photos{
    display: flex;
    gap: 40px;
}
/* How to find section */
.howtofind{
    display: flex;
    gap: 40px;
    align-items: top;
    justify-content: center;
   
}
.howtofind-text{
        max-width: 310px;
        display: flex;
        flex-direction: column;
        align-items: top;
        gap: 40px;
}
.approve{
    font-size: 12px;
}
/* Footer */
.footer{
    background-color: var(--color_secondary_dark);
}
.contact_item{
    text-decoration: none;
    color: var(--color_primary_light);
}
.contact_item:hover{
    color: var(--color_secondary_light);
}
.copyright{
    color: #747272;
    font-size: 13px;
    font-weight: 400;
}
.footer-container{
    display: flex;
    align-items: top;
    gap: 40px;
}
.footer-nav{
    display: flex;
    align-items: top;
    flex-grow: 1;
    gap: 40px;
}
.footer-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: space-evenly;
}