.link{
    color: var(--color_secondary_dark);
    text-decoration: none;
}
.link_footer{
    color: var(--color_primary_light);
    text-decoration: none;
}
.link:hover{
    color: var(--color_secondary_light);
    
}
.link_footer:hover{
    color: var(--color_secondary_light);
    text-decoration: none;
}