.hero-section{
    padding: 124px 0;
    background: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url(../Html_Images/image\ 1559.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    @media screen and (min-width: $bp-tablet){
        padding: 272px 0;
    }
    @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    background: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url(/Bakery/Html_Images/image\ 1559@2x.jpg);
 ;}
    &__title{
        color: var(--colorch);
        font-weight: 900;
        text-align: center;
       font-size: 67px;
       margin-bottom: 48px;
       line-height: 1;
        @media screen and (min-width: $bp-desktop) {
            font-size: 128px;
            line-height: 1.5;
            margin-bottom: 0;
        }
    }
    &__button{
        
            margin: 0 auto;
        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }

}




// h1{
//     color: var(--color_primarydark);
    
// }